__pycache__
gpt2/
gpt_download.py
sms_spam_collection.zip
sms_spam_collection/
classification-test.csv
classification-train.csv
classification-validation.csv
instruction-data.json
gpt2-small124M-sft.pth
gpt2-medium355M-sft.pth
our-base-model-ift.pth
instruction-data-with-responses.json
instruction-fine-tune-2-epochs-losses-plot.png
instruction-fine-tune-5-epochs-losses-plot.png
instruction-fine-tune-10-epochs-losses-plot.png
instruction-fine-tune-9-epochs-losses-plot.png
fineweb-edu/
fineweb/
fineweb-token-length-distribution.png
tmp-test-checkpoint
big-train-datasets/
big-train-checkpoints/
big-train-datasets-fw/
big-training-run-chart.png
